/Saved
/Intermediate
/.vs
/Build
/Plugins
*.sln
*_BuiltData.uasset
/Content/MedievalDungeon
/Content/BossAnimationsPack
/Content/DarkFantasy_UI
/Content/Fantasy_Barbarian
/Content/Frank_RPG_Warrior
/Content/HeavyHammer
/Content/InfinityBladeWarriors
/Content/InfinityBladeWeapons
/Content/Knight_Man
/Content/StarterContent
/Content/Zybak

